<div class="navbar">
  <div class="container">
    <%= link_to  root_path do%>
      <%= image_tag 'logo.png' %>
      <% end %>
        <div class= "nav-link">
          <%= link_to 'Home', root_path %>
          <span>|</span>
          <%= link_to "New category", new_category_path %>
        </div>
      </div>
</div>
