// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Parkinsans:wght@300..800&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

li{
  list-style: none;

}

ul{
  display: flex;
  justify-content: space-evenly;
}


.container{
  margin-bottom: 30px;
}

a{
text-decoration: none;
color: black;
font-weight: 600;
transition: ease 0.3s;
}

.footer{
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

a:hover{
  color: grey;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
